<%- include("partials/_header") %>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Hola, <%= user.name %>!</h1>
        <p class="lead">Bienvenid@ a la administración IEA. Aquí puedes agregar herramientas, componentes y ver los préstamos de los investigadores.</p>
    </div>
</div>

<%- include("partials/_footer") %>
