<%- include("partials/_header2") %>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Hola, <%= user.name %>!</h1>
        <p class="lead">Bienvenid@ al sistema IEA. Aquí puedes solicitar herramientas, componentes y ver tus préstamos.</p>
    </div>
</div>

<%- include("partials/_footer") %>
